@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Heebo:400,700);
*,
::after,
::before {
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
html {
 font-family:sans-serif;
 line-height:1.15;
 -webkit-text-size-adjust:100%;
 -webkit-tap-highlight-color:rgba(7,9,25,0)
}

nav {
 display:block
}
body {
 margin:0;
 font-family:Heebo,sans-serif;
 font-size:.95rem;
 font-weight:400;
 line-height:1.5;
 color:#3b3e66;
 text-align:left;
 background-color:#fff;
 overflow: hidden;
}
[tabindex="-1"]:focus {
 outline:0!important
}

h6 {
 margin-top:0;
 margin-bottom:.5rem
}
p {
 margin-top:0;
 margin-bottom:1rem
}
ul {
 margin-top:0;
 margin-bottom:1rem
}
ul ul {
 margin-bottom:0
}
a {
 color:#3c44b1;
 text-decoration:none;
 background-color:transparent
}
a:hover {
 color:#292e78;
 text-decoration:none
}
a:not([href]):not([tabindex]) {
 color:inherit;
 text-decoration:none
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
 color:inherit;
 text-decoration:none
}
a:not([href]):not([tabindex]):focus {
 outline:0
}
label {
 display:inline-block;
}
button {
 border-radius:0
}
button:focus {
 outline:1px dotted;
 outline:5px auto -webkit-focus-ring-color
}
button {
 margin:0;
 font-family:inherit;
 font-size:inherit;
 line-height:inherit
}
button {
 overflow:visible
}
button {
 text-transform:none
}
[type=button],
button {
 -webkit-appearance:button;
 appearance:button;
}
[type=button]:not(:disabled),
button:not(:disabled) {
 cursor:pointer
}
[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
 padding:0;
 border-style:none
}
::-webkit-file-upload-button {
 font:inherit;
 -webkit-appearance:button
}
[hidden] {
 display:none!important
}

.h6,
h6 {
 margin-bottom:.5rem;
 font-weight:500;
 line-height:1.2
}
.h6,
h6 {
 font-size:.95rem
}
.container {
 width:100%;
 padding-right:20px;
 padding-left:20px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width:576px) {
 .container {
  max-width:540px
 }
}
@media (min-width:768px) {
 .container {
  max-width:720px
 }
}
@media (min-width:992px) {
 .container {
  max-width:960px
 }
}
@media (min-width:1200px) {
 .container {
  max-width:1140px
 }
}
.row {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin-right:-20px;
 margin-left:-20px
}

.col-lg-12 {
 position:relative;
 width:100%;
 padding-right:20px;
 padding-left:20px
}
@media (min-width:992px) {
 .col-lg-12 {
  -webkit-box-flex:0;
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
 }
}
.btn {
 display:inline-block;
 font-weight:400;
 color:#3b3e66;
 text-align:center;
 vertical-align:middle;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 background-color:transparent;
 border:2px solid transparent;
 padding:.53rem 1.3rem;
 font-size:.95rem;
 line-height:1.5;
 border-radius:.65rem;
 -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
 transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
 transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion:reduce) {
 .btn {
  -webkit-transition:none;
  transition:none
 }
}
.btn:hover {
 color:#3b3e66;
 text-decoration:none
}
.btn:focus {
 outline:0;
 -webkit-box-shadow:0 .313rem .719rem rgba(122,123,151,.1),0 .156rem .125rem rgba(122,123,151,.06);
 box-shadow:0 .313rem .719rem rgba(122,123,151,.1),0 .156rem .125rem rgba(122,123,151,.06)
}
.btn:disabled {
 opacity:.65
}
.btn-primary {
 color:#fff;
 background-color:#3c44b1;
 border-color:#3c44b1
}
.btn-primary:hover {
 color:#fff;
 background-color:#3c44b1;
 border-color:#3c44b1
}
.btn-primary:focus {
 -webkit-box-shadow:0 0 0 0 transparent;
 box-shadow:0 0 0 0 transparent
}
.btn-primary:disabled {
 color:#fff;
 background-color:#3c44b1;
 border-color:#3c44b1
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
 color:#fff;
 background-color:#2f358b;
 border-color:#2c3281
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
 -webkit-box-shadow:0 0 0 0 transparent;
 box-shadow:0 0 0 0 transparent
}
.btn-success {
 color:#fff;
 background-color:#1bc943;
 border-color:#1bc943
}
.btn-success:hover {
 color:#fff;
 background-color:#1bc943;
 border-color:#1bc943
}
.btn-success:focus {
 -webkit-box-shadow:0 0 0 0 transparent;
 box-shadow:0 0 0 0 transparent
}
.btn-success:disabled {
 color:#fff;
 background-color:#1bc943;
 border-color:#1bc943
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
 color:#fff;
 background-color:#159c34;
 border-color:#139130
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
 -webkit-box-shadow:0 0 0 0 transparent;
 box-shadow:0 0 0 0 transparent
}
.btn-info {
 color:#fff;
 background-color:#11c5db;
 border-color:#11c5db
}
.btn-info:hover {
 color:#fff;
 background-color:#11c5db;
 border-color:#11c5db
}
.btn-info:focus {
 -webkit-box-shadow:0 0 0 0 transparent;
 box-shadow:0 0 0 0 transparent
}
.btn-info:disabled {
 color:#fff;
 background-color:#11c5db;
 border-color:#11c5db
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
 color:#fff;
 background-color:#0d9aac;
 border-color:#0c90a0
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
 -webkit-box-shadow:0 0 0 0 transparent;
 box-shadow:0 0 0 0 transparent
}
.btn-link {
 font-weight:400;
 color:#3c44b1;
 text-decoration:none
}
.btn-link:hover {
 color:#292e78;
 text-decoration:none
}
.btn-link:focus {
 text-decoration:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
.btn-link:disabled {
 color:#d1d2db;
 pointer-events:none
}
.btn-sm {
 padding:.25rem 1.1rem;
 font-size:.83125rem;
 line-height:1.5;
 border-radius:.29rem
}
.btn-block {
 display:block;
 width:100%
}
.btn-block+.btn-block {
 margin-top:.5rem
}
.fade {
 -webkit-transition:opacity .15s linear;
 transition:opacity .15s linear
}
@media (prefers-reduced-motion:reduce) {
 .fade {
  -webkit-transition:none;
  transition:none
 }
}
.fade:not(.show) {
 opacity:0
}
.nav {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 padding-left:0;
 margin-bottom:0;
 list-style:none
}
.nav-link {
 display:block;
 padding:.5rem 1rem
}
.nav-link:focus,
.nav-link:hover {
 text-decoration:none
}
.nav-pills .nav-link {
 border-radius:.29rem
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
 color:#fff;
 background-color:#3c44b1
}
.tab-content>.tab-pane {
 display:none
}
.tab-content>.active {
 display:block
}
.close {
 float:right;
 font-size:1.425rem;
 font-weight:700;
 line-height:1;
 color:#070919;
 text-shadow:0 1px 0 #fff;
 opacity:.5
}
.close:hover {
 color:#070919;
 text-decoration:none
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
 opacity:.75
}
button.close {
 padding:0;
 background-color:transparent;
 border:0;
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none
}
.modal {
 position:fixed;
 top:0;
 left:0;
 z-index:1050;
 display:none;
 width:100%;
 height:100%;
 overflow:hidden;
 outline:0
}
.modal-dialog {
 position:relative;
 width:auto;
 margin:.5rem;
 pointer-events:none
}
.modal.fade .modal-dialog {
 -webkit-transition:-webkit-transform .3s ease-out;
 transition:-webkit-transform .3s ease-out;
 transition:transform .3s ease-out;
 transition:transform .3s ease-out,-webkit-transform .3s ease-out;
 -webkit-transform:translate(0,-50px),scale(.8);
 transform:translate(0,-50px),scale(.8)
}
@media (prefers-reduced-motion:reduce) {
 .modal.fade .modal-dialog {
  -webkit-transition:none;
  transition:none
 }
}
.modal.show .modal-dialog {
 -webkit-transform:none;
 transform:none
}
.modal-dialog-centered {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 min-height:calc(100% - 1rem)
}
.modal-dialog-centered::before {
 display:block;
 height:calc(100vh - 1rem);
 content:""
}
.modal-content {
 position:relative;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 width:100%;
 pointer-events:auto;
 background-color:#fff;
 background-clip:padding-box;
 border:1px solid rgba(7,9,25,.5);
 border-radius:.65rem;
 outline:0
}
.modal-header {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:start;
 -ms-flex-align:start;
 align-items:flex-start;
 -webkit-box-pack:justify;
 -ms-flex-pack:justify;
 justify-content:space-between;
 padding:1rem 1rem;
 border-bottom:1px solid #eeeff8;
 border-top-left-radius:.65rem;
 border-top-right-radius:.65rem
}
.modal-header .close {
 padding:1rem 1rem;
 margin:-1rem -1rem -1rem auto
}
.modal-title {
 margin-bottom:0;
 line-height:1.5
}
.modal-body {
 position:relative;
 -webkit-box-flex:1;
 -ms-flex:1 1 auto;
 flex:1 1 auto;
 padding:1rem
}
.modal-footer {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:end;
 -ms-flex-pack:end;
 justify-content:flex-end;
 padding:1rem;
 border-top:1px solid #eeeff8;
 border-bottom-right-radius:.65rem;
 border-bottom-left-radius:.65rem
}
.modal-footer>:not(:first-child) {
 margin-left:.25rem
}
.modal-footer>:not(:last-child) {
 margin-right:.25rem
}
@media (min-width:576px) {
 .modal-dialog {
  max-width:500px;
  margin:1.75rem auto
 }
 .modal-dialog-centered {
  min-height:calc(100% - 3.5rem)
 }
 .modal-dialog-centered::before {
  height:calc(100vh - 3.5rem)
 }
}
@media (min-width:992px) {
 
 .modal-xl {
  max-width:800px
 }
}
@media (min-width:1200px) {
 .modal-xl {
  max-width:1140px
 }
}
.flex-column {
 -webkit-box-orient:vertical!important;
 -webkit-box-direction:normal!important;
 -ms-flex-direction:column!important;
 flex-direction:column!important
}
.pb-0 {
 padding-bottom:0!important
}
.p-2 {
 padding:.5rem!important
}
.py-2 {
 padding-top:.5rem!important
}
.px-2 {
 padding-right:.5rem!important
}

.py-2 {
 padding-bottom:.5rem!important
}
.px-2 {
 padding-left:.5rem!important
}
.py-3 {
 padding-top:1rem!important
}

.py-3 {
 padding-bottom:1rem!important
}
.ml-auto {
 margin-left:auto!important
}
.text-center {
 text-align:center!important
}
@media print {
 *,
 ::after,
 ::before {
  text-shadow:none!important;
  -webkit-box-shadow:none!important;
  box-shadow:none!important
 }
 a:not(.btn) {
  text-decoration:underline
 }
 
 p {
  orphans:3;
  widows:3
 }
 @page {
  size:a3
 }
 body {
  min-width:992px!important
 }
 .container {
  min-width:992px!important
 }
}
a,
button {
 outline:0
}
.close:active,
.close:focus {
 outline:0
}
.divider {
 background:#eeeff8;
 height:1px;
 overflow:hidden
}
html {
 scroll-behavior:smooth
}
.bg-neutral-first {
 background-color:#eaf6ff!important
}
a.bg-neutral-first:focus,
a.bg-neutral-first:hover,
button.bg-neutral-first:focus,
button.bg-neutral-first:hover {
 background-color:#b8e0fe!important
}
.btn {
 -webkit-transition:all .2s ease-out;
 transition:all .2s ease-out;
 border-radius:.2rem
}
.btn:not(:disabled):hover {
 -webkit-transform:translateY(-2px);
 transform:translateY(-2px)
}
.btn-pill {
 border-radius:1.5rem
}
.btn-primary {
 -webkit-box-shadow:0 .25rem .55rem rgba(60,68,177,.35);
 box-shadow:0 .25rem .55rem rgba(60,68,177,.35)
}
.btn-primary:not(:disabled):active,
.btn-primary:not(:disabled):focus,
.btn-primary:not(:disabled):hover {
 -webkit-box-shadow:0 .22rem .525rem rgba(60,68,177,.4),0 .0625rem .385rem rgba(60,68,177,.54);
 box-shadow:0 .22rem .525rem rgba(60,68,177,.4),0 .0625rem .385rem rgba(60,68,177,.54)
}
.btn-success {
 -webkit-box-shadow:0 .25rem .55rem rgba(27,201,67,.35);
 box-shadow:0 .25rem .55rem rgba(27,201,67,.35)
}
.btn-success:not(:disabled):active,
.btn-success:not(:disabled):focus,
.btn-success:not(:disabled):hover {
 -webkit-box-shadow:0 .22rem .525rem rgba(27,201,67,.4),0 .0625rem .385rem rgba(27,201,67,.54);
 box-shadow:0 .22rem .525rem rgba(27,201,67,.4),0 .0625rem .385rem rgba(27,201,67,.54)
}
.btn-info {
 -webkit-box-shadow:0 .25rem .55rem rgba(17,197,219,.35);
 box-shadow:0 .25rem .55rem rgba(17,197,219,.35)
}
.btn-info:not(:disabled):active,
.btn-info:not(:disabled):focus,
.btn-info:not(:disabled):hover {
 -webkit-box-shadow:0 .22rem .525rem rgba(17,197,219,.4),0 .0625rem .385rem rgba(17,197,219,.54);
 box-shadow:0 .22rem .525rem rgba(17,197,219,.4),0 .0625rem .385rem rgba(17,197,219,.54)
}
.btn-link span {
 position:relative;
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out
}
.btn-link span:before {
 content:"";
 position:absolute;
 width:100%;
 height:2px;
 bottom:0;
 left:0;
 visibility:hidden;
 -webkit-transform:scaleX(0);
 transform:scaleX(0);
 -webkit-transition:all .3s ease-in-out 0s;
 transition:all .3s ease-in-out 0s
}
.btn-link:hover span:before {
 visibility:visible;
 -webkit-transform:scaleX(1);
 transform:scaleX(1)
}
.btn-link {
 font-weight:400;
 color:#3c44b1;
 text-decoration:none
}
.btn-link:hover {
 color:#292e78;
 text-decoration:none;
 -webkit-transform:none;
 transform:none
}
.btn-link:focus {
 text-decoration:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
.btn-link:disabled {
 color:#d1d2db;
 pointer-events:none
}
.modal-content {
 -webkit-box-shadow:0 5rem 14rem 0 rgba(255,255,255,.3),0 .8rem 2.3rem rgba(0,0,0,.6),0 .2rem .3rem rgba(0,0,0,.45);
 box-shadow:0 5rem 14rem 0 rgba(255,255,255,.3),0 .8rem 2.3rem rgba(0,0,0,.6),0 .2rem .3rem rgba(0,0,0,.45)
}
.nav-line .nav-link {
 color:#a6a6b9;
 position:relative;
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 padding:0 1rem 1rem
}
.nav-line .nav-link .divider {
 width:34px;
 border-radius:.75rem;
 height:3px;
 background:#3c44b1;
 visibility:hidden;
 opacity:0;
 -webkit-transform:translateY(-10px);
 transform:translateY(-10px);
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 position:absolute;
 left:1rem;
 bottom:0
}
.nav-line .nav-link:hover {
 color:#070919
}
.nav-line .nav-link.active {
 color:#3c44b1
}
.nav-line .nav-link.active:hover {
 color:#3c44b1
}
.nav-line .nav-link.active .divider {
 visibility:visible;
 opacity:1;
 -webkit-transform:translateY(0);
 transform:translateY(0)
}
/*!
 * FullCalendar v3.9.0
 * Docs & License: https://fullcalendar.io/
 * (c) 2018 Adam Shaw
 */
@media (min-width:992px) {
 .sidebar-collapsed .app-content {
  padding-left:88px
 }
}
body,
html {
 -ms-text-size-adjust:100%;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 height:100%
}
body {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column
}
.app-wrapper {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 background:#f4f5fd
}
.app-main {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-flex:1;
 -ms-flex:1 auto;
 flex:1 auto;
 min-width:0;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 position:relative
}
.app-content {
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 padding:78px 0 0 260px;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-transition:all .5s cubic-bezier(.685,.0473,.346,1);
 transition:all .5s cubic-bezier(.685,.0473,.346,1)
}
.app-content.app-content-aside {
 -webkit-box-orient:horizontal;
 -webkit-box-direction:normal;
 -ms-flex-direction:row;
 flex-direction:row
}
@media (max-width:991.98px) {
 .app-content.app-content-aside {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
 }
}
.app-content--sidebar {
 z-index:5;
 background:#fff;
 -webkit-box-shadow:0 0 28px 0 rgba(60,68,177,.08);
 box-shadow:0 0 28px 0 rgba(60,68,177,.08);
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-transition:all .5s cubic-bezier(.685,.0473,.346,1);
 transition:all .5s cubic-bezier(.685,.0473,.346,1)
}
@media (max-width:991.98px) {
 .app-content--sidebar {
  display:none;
  position:fixed;
  width:100%
 }
}
.app-content--sidebar__sm {
 width:260px
}
.app-content--sidebar__footer,
.app-content--sidebar__header {
 padding:1rem 2rem
}
.app-content--sidebar__header {
 border-bottom:#eeeff8 solid 1px
}
.app-content--sidebar__footer {
 border-top:#eeeff8 solid 1px
}
.app-content--sidebar__content {
 padding:2rem
}
@media (max-width:991.98px) {
 .app-content {
  padding-left:0
 }
}
.nav-header {
 text-transform:uppercase;
 color:#d1d2db;
 font-size:.79167rem;
 padding:1rem 0
}
.nav-header:first-child {
 padding-top:0
}
.nav-pills-hover .nav-link {
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 margin:2px 0;
 font-size:.86364rem;
 color:#7a7b97
}
.nav-pills-hover .nav-link i {
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 margin:0 .33333rem 0 0;
 width:26px;
 text-align:center;
 color:#d1d2db;
 font-size:1.045rem
}
.nav-pills-hover .nav-link.active i {
 color:#fff
}
.nav-pills-hover .nav-link:hover:not(.active) {
 background:#f4f5fd;
 color:#070919
}
.nav-pills-hover .nav-link:hover:not(.active) i {
 color:#7a7b97
}
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
.ps {
 overflow:hidden!important;
 overflow-anchor:none;
 -ms-touch-action:auto;
 touch-action:auto
}
.ps__rail-x {
 display:none!important;
 opacity:0;
 -webkit-transition:background-color .2s linear,opacity .2s linear;
 transition:background-color .2s linear,opacity .2s linear;
 height:15px;
 bottom:0;
 position:absolute;
 z-index:7
}
.ps__rail-y {
 display:none;
 opacity:0;
 -webkit-transition:background-color .2s linear,opacity .2s linear;
 transition:background-color .2s linear,opacity .2s linear;
 width:15px;
 right:0;
 position:absolute;
 border-radius:50px;
 z-index:7
}

.ps--active-y>.ps__rail-y {
 display:block;
 background-color:transparent
}
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
 opacity:.6
}
.ps__rail-x:focus,
.ps__rail-x:hover,
.ps__rail-y:focus,
.ps__rail-y:hover {
 background-color:rgba(0,0,0,.1);
 opacity:.9
}
.ps__thumb-x {
 background-color:rgba(0,0,0,.1);
 border-radius:6px;
 -webkit-transition:background-color .2s linear,height .2s ease-in-out;
 transition:background-color .2s linear,height .2s ease-in-out;
 height:6px;
 bottom:2px;
 position:absolute
}
.ps__thumb-y {
 background-color:rgba(0,0,0,.1);
 border-radius:6px;
 -webkit-transition:background-color .2s linear,width .2s ease-in-out;
 transition:background-color .2s linear,width .2s ease-in-out;
 width:6px;
 right:2px;
 position:absolute
}
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x:hover>.ps__thumb-x {
 background-color:rgba(0,0,0,.12);
 height:11px
}
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
 background-color:rgba(0,0,0,.12);
 width:11px
}
@supports (-ms-overflow-style:none) {
 .ps {
  overflow:auto!important
 }
}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
 .ps {
  overflow:auto!important
 }
}
.scrollbar-container {
 position:relative;
 height:100%
}

.far,
.fas {
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 display:inline-block;
 font-style:normal;
 font-variant:normal;
 text-rendering:auto;
 line-height:1
}
.fa-bars:before {
 content:"\f0c9"
}
.fa-check:before {
 content:"\f00c"
}
.fa-code:before {
 content:"\f121"
}
.fa-cogs:before {
 content:"\f085"
}
.fa-desktop:before {
 content:"\f108"
}
.fa-download:before {
 content:"\f019"
}
.fa-expand-arrows-alt:before {
 content:"\f31e"
}
.fa-eye:before {
 content:"\f06e"
}
.fa-file-archive:before {
 content:"\f1c6"
}
.fa-file-export:before {
 content:"\f56e"
}
.fa-file-import:before {
 content:"\f56f"
}
.fa-mobile-alt:before {
 content:"\f3cd"
}
.fa-plus:before {
 content:"\f067"
}
.fa-repeat:before {
 content:"\f01e"
}
.fa-redo:before {
 content:"\f01e"
}
.fa-search:before {
 content:"\f002"
}
.fa-sliders-h:before {
 content:"\f1de"
}
.fa-square:before {
 content:"\f0c8"
}
.fa-support:before {
 content:"\f1cd"
}
.fa-tablet-alt:before {
 content:"\f3fa"
}
.fa-times:before {
 content:"\f00d"
}
.fa-trash:before {
 content:"\f1f8"
}
.fa-undo:before {
 content:"\f0e2"
}

/*!
* Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
* License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
*/
@font-face {
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-display: auto;
src: url("../fonts/vendor/fontawesome-icons/font//fa-solid-900.eot");
src: url("../fonts/vendor/fontawesome-icons/font//fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/vendor/fontawesome-icons/font//fa-solid-900.woff2") format("woff2"), url("../fonts/vendor/fontawesome-icons/font//fa-solid-900.woff") format("woff"), url("../fonts/vendor/fontawesome-icons/font//fa-solid-900.ttf") format("truetype"), url("../fonts/vendor/fontawesome-icons/font//fa-solid-900.svg#fontawesome") format("svg");
}

/* line 20, src/vendor/fontawesome-icons/scss/_solid.scss */

.fas {
font-family: 'Font Awesome 5 Free';
font-weight: 900;
}

/*!
* Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
* License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
*/

/* line 20, src/vendor/fontawesome-icons/scss/_brands.scss */

/*!
* Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
* License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
*/
@font-face {
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 400;
font-display: auto;
src: url("../fonts/vendor/fontawesome-icons/font//fa-regular-400.eot");
src: url("../fonts/vendor/fontawesome-icons/font//fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/vendor/fontawesome-icons/font//fa-regular-400.woff2") format("woff2"), url("../fonts/vendor/fontawesome-icons/font//fa-regular-400.woff") format("woff"), url("../fonts/vendor/fontawesome-icons/font//fa-regular-400.ttf") format("truetype"), url("../fonts/vendor/fontawesome-icons/font//fa-regular-400.svg#fontawesome") format("svg");
}

/* line 20, src/vendor/fontawesome-icons/scss/_regular.scss */
.far {
font-family: 'Font Awesome 5 Free';
font-weight: 400;
}
